/* 네비게이션 영역 */
.react-calendar__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  margin-bottom: 28px;
  font-size: var(--font-family-body2-sb);
  font-weight: var(--font-weight-body2-sb);
  line-height: var(--line-height-body2-sb);
}

/* 네비게이션 양쪽 끝 화살표 버튼 */
.react-calendar__navigation__arrow {
  width: 24px;
  height: 24px;
  background-color: var(--color-gray-50);
  border-radius: 4px;
}

/* 본문 상단 일주일 */
.react-calendar__month-view abbr {
  font-size: var(--font-size-body4);
  line-height: var(--line-height-body4);
  text-decoration: none;
}

/* 본문 하단 한 주 */
.react-calendar__month-view__weekdays {
  height: 21px;

  /* 본문 내 폰트 사이즈 통일 */
  div {
    font-size: var(--font-size-body4);
    line-height: var(--line-height-body4);
    text-align: center;
  }

  abbr {
    color: var(--color-gray-900);
    text-decoration: none;
  }
}

/* 본문 하단 1~31일 영역 */
.react-calendar__month-view__days {
  margin-top: 2px;
  margin-top: 4px;
}

/* 1~31 영역 중 각 하루 */
.react-calendar__tile {
  position: relative;
  height: 40px;
  border: 1.5px solid transparent;
  border-radius: 12px;

  abbr {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-gray-900);
    font-weight: 300;
  }
}

/* 일요일 컬러 커스텀 */
.react-calendar__tile:nth-child(7n + 1) abbr {
  color: var(--color-system-red);
}

/* 토요일 컬러 커스텀 */
.react-calendar__tile:nth-child(7n) abbr {
  color: var(--color-system-blue);
}

/* 데스크탑에서만 hover가 가능하도록 설정 */
@media (hover: hover) and (pointer: fine) {
  .react-calendar__tile:hover {
    background-color: var(--color-gray-50);
  }
}

/* 이전 달, 다음 달 날짜 컬러 커스텀 */
.react-calendar__month-view__days__day--neighboringMonth abbr {
  color: var(--color-gray-200) !important;
}

/* 사용자가 선택한 날짜 */
.react-calendar__tile--range {
  border: 1.5px solid var(--color-purple-500);
  border-radius: 12px;
}

/* 오늘 날짜 */
.react-calendar__tile--now {
  position: relative;

  /* 오늘 날짜 커스텀을 위해 기존에 있는 요소 화면 안보이게 처리 */
  abbr {
    color: transparent;
  }

  /* 오늘 날짜 디자인 커스텀 */
  .today-background {
    position: absolute;
    top: 3px;
    left: 50%;
    width: 24px;
    height: 24px;
    background-color: var(--color-purple-500);
    border-radius: 100%;
    transform: translateX(-50%);
  }

  .today-text {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-white);
    font-size: var(--font-size-body4);
    line-height: var(--line-height-body4);
    font-weight: 300;
    text-decoration: none;
  }
}
