/* 초기 이름, 환영 메세지 */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 등장 시 스케일 + 페이드 인 */
@keyframes fadeScaleIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

/* 둥둥 뜨기 */
@keyframes floatProfile {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

@keyframes floatStar {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}

@keyframes floatSquare {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}

@keyframes floatTwinkle {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes floatUpAndDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}

@keyframes floatDownAndUp {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

/* 공통 초기 상태 */
.effect-name,
.effect-welcome,
.effect-profile,
.effect-icon,
.effect-effect {
  opacity: 0;
}

.fade-name {
  animation: fadeUp 0.4s ease-out forwards;
  animation-delay: 0.2s;
}

.fade-welcome {
  animation: fadeUp 0.4s ease-out forwards;
  animation-delay: 0.5s;
}

.fade-scale-profile {
  animation:
    fadeScaleIn 0.4s ease-out forwards,
    floatProfile 4s ease-in-out infinite;
  animation-delay: 1s, 1.5s;
}

.fade-scale-effect {
  animation: fadeScaleIn 0.4s ease-out forwards;
  animation-delay: 1.2s;
}

.float-star {
  animation:
    fadeScaleIn 0.3s ease-out forwards,
    floatStar 4s ease-in-out infinite;
  animation-delay: 1.3s;
}

.float-square {
  animation:
    fadeScaleIn 0.3s ease-out forwards,
    floatSquare 5s ease-in-out infinite;
  animation-delay: 1.4s;
}

.float-twinkle {
  animation:
    fadeScaleIn 0.3s ease-out forwards,
    floatTwinkle 6s ease-in-out infinite;
  animation-delay: 1.5s;
}

.float-up-and-down {
  animation: floatUpAndDown 4500ms ease-out infinite;
}

.float-down-and-up {
  animation: floatDownAndUp 4500ms ease-out infinite;
}

@keyframes planeFlight {
  0% {
    transform: translateY(300px) translateX(-400px) rotate(0deg);
    opacity: 0;
  }
  60% {
    transform: translateY(0px) translateX(0px) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px) translateX(100px) rotate(0deg); /* 살짝 위로 날아가듯 */
    opacity: 0;
  }
}

.animate-plane-flight {
  animation: planeFlight 1.5s ease-in-out infinite;
}

@keyframes rotateFadeIn {
  0% {
    opacity: 0;
    transform: rotateY(0deg);
  }
  25% {
    opacity: 0.25;
    transform: rotateY(180deg);
  }
  50% {
    opacity: 0.5;
    transform: rotateY(0deg);
  }
  75% {
    opacity: 0.75;
    transform: rotateY(180deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}

.animate-complete-show {
  animation: rotateFadeIn 1s ease-out forwards;
}
